#mySidebar {
  z-index: 3;
  width: 250px;
  font-weight: bold;
  color: white;
  background-color: #1a4287;
}


#topBar {
  font-size: 24px;
  font-weight: bold;
  color: white;
  background-color: #1a4287;
  margin-bottom: 40px;
}

body {
  background-color: #EEF0F0;
}

#title {
  font-size: 30px auto;
  padding-top: 105px;
  margin-top: 85px auto;
  right: 0;
  left: 0;
  justify-content: center;
  display: flex;
  align-items: center;
  display: block;
  font-style: oblique;
  text-decoration: underline;
}

#filter {
  margin-top: 19px;
  height: 30px;
  width: 100%;
  outline: solid;
  outline-color: #1a4287;;
}
.main {
  margin-left: 340px;
  margin-right: 40px;
}

.sectionName {
  margin-top: 75px;
  font-size: 35px;
  color: #1a4287;
}

.sectionDivider {
  border-radius: 5px;
  width: 50px;
  border: 5px solid #1a4287;
}

body,
h1,
h2,
h3,
h4,
h5 {
  font-family: "Poppins", sans-serif;
}

h2 {
  font-size: 20px;
  color: #cc6116;
}

@media (max-width: 992px) {
  .w3-sidebar.w3-collapse {
    display: none;
  }
  .main {
    margin-left: 40px;
    margin-right: 40px;
  }
  .w3-auto {
    max-width: 100%;
  }
}

/* Set document default styles for text */
h1,
h2,
h3 {
  line-height: 1.2;
}

h1 {
  padding-top: 10px;
  font-size: +20;
}
.container {
  position: absolute;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-family: "Poppins", sans-serif;
  margin-left: 300px;
  margin-right: 40px;
}

/*Used when changing width of browser
Collapses menu into a navigation button
Forces top title bar to appear
*/
@media (max-width: 992px) {
  .w3-sidebar.w3-collapse {
    display: none;
  }
  .container {
    margin-left: 0;
    margin-right: 0;
  }
  .w3-auto {
    max-width: 100%;
  }
}

.w3-sidebar img {
  margin-top: 15%;
  margin-left: 25%;
  display: flex;
  align-self: center;
  height: 50%;
  width: 50%;
}

.wrapper {
  min-height: 100%;
  display: flex;
  width: 90%;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  background: #fefefe;
  margin: 25px;
}

.wrapper div {
  border-radius: 25px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  border: 3px dotted #1a4287;
  padding-top: 10px;
  padding-left: 4%;
  padding-right: 4%;
  max-width: 100%;
  max-height: 500px;
  overflow: scroll;
}

.content a {
  padding-bottom: 5%;
}

.content li {
  font-size: 1em auto;
  padding-top: 40px auto;
}

.content input[type="text"] {
  width: 125px;
}

.content p {
  display: flex;
  align-items: center;
  font-size: 1.5em auto;
  -moz-border-radius: 11px;
  -webkit-border-radius: 11px;
  color: #cc6116;
  font-style: oblique;
  font-weight: bold;
}

::-webkit-scrollbar {
  width: 0px;
}

.p {
  background-color: #ffc477;
  -moz-border-radius: 11px;
  -webkit-border-radius: 11px;
  border-radius: 11px;
  border: 2px solid #eeb44f;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Verdana;
  font-size: 14px;
  padding: 10px 17px;
  text-decoration: none;
  text-shadow: 0px 1px 1px #cc9f52;
}

.p:hover {
  background-color: coral;
  border: 2px solid rgb(216, 91, 46);
}

h1:hover, h2:hover {
    cursor: pointer;
    text-decoration: none;
}

.p:active {
  position: relative;
  top: 1px;
}

#table {
  margin-bottom: 30px;
}

.scroll {
  display: grid;
  grid-gap: 10%;
  grid-template-columns: repeat(15%);
  grid-template-rows: repeat(5%);
  width: 100%;
  margin-right: auto;
}

table {
  width: 100%;
}

thead {
  display: block;
  cursor: pointer;
  padding-bottom: 12px;
  font-size: 20px;
  width: 100%;
  color: #1a4287;
}

thead tr th {
  font-family: serif;
  text-decoration: underline;
  font-style: oblique;
}

thead th:hover {
  background: #bbb;
  border-bottom-color: #999;
}

thead th:active {
  background: #4334eb;
  border-bottom-color: #999;
}

thead tr {
  display: flex;
  justify-content: space-between;
  font-size: 25px auto;
  height: 20px;
}

tbody {
  display: grid;
  height: 400px;
  width: 100%;
  flex-direction: column;
  column-count: 4;
  column-gap: 1%;
  overflow: scroll;
}

tbody tr {
  display: flex;
  border-style: solid;
  height: 40px auto 80px;
  column-count: 4;
}

tbody tr td {
  display: flex;
  text-align: left;
}
tbody tr:hover {
  background: #cc6116;
  border-bottom-color: #cc6116;
}

tbody td {
  display: flex;
  justify-content: left;
  align-content: center;
  vertical-align: middle;
  -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
  -moz-column-gap: 40px; /* Firefox */
  column-gap: 2rem;
}


td:nth-child(1),
th:nth-child(1) {
  width: 29%;
  display: flex;
  overflow-wrap: break-word;
  word-wrap: break-word;
  justify-content: right;
  font-size: 12px auto;
}
td:nth-child(2),
th:nth-child(2) {
  width: 23.5%;
  min-width: 5%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  font-size: 12px auto;
}
td:nth-child(3),
th:nth-child(3) {
  width: 28%;
  min-width: 5%;
  font-size: 12px auto;
  word-wrap: break-word;
  justify-content: flex-end;
}
td:nth-child(4),
th:nth-child(4) {
  width: 18%;
  display: flex;
  font-size: 12px auto;
  overflow-wrap: break-word;
  word-wrap: break-word;
  justify-content: flex-start;
  padding-left: 1.5%;
}

iframe {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}


tbody p {
  cursor: pointer;
}

.w3-bar-block a:hover {
  background-color: #deac2f;
}

.button {
  background-color:coral;
  color: black;
  border: 1px coral solid ;
  border-radius: 10px;
  box-shadow: 5px lightcoral;
  margin-bottom: 2%;
  padding: 12px 33px;
  font-size: 18px;
  text-decoration: bold;
}

#reps a {
  text-decoration: none;
}

#trans,
#reps {
  display: flex;
  justify-content: center;
  align-self: center;
  height: 10%;
  width: 50%;
  font-size: 20px auto;
  cursor: pointer;
}

#clock {
  margin-top: 20px;
  margin-left: 20px;
  font-size: 25px;
  color: #cc6116;
}

.sectionWImage img {
  float: right;
  margin: 20px;
}

.sectionWImage h2 {
  color: #cca916;
}
.sectionWImage::before,
.sectionWImage::after {
  content: "";
  display: table;
}

.sectionWImage::after {
  clear: both;
}

.sectionWImage {
  clear: both;
  zoom: 1;
}
